.main-container{
    min-height: 100%;    
    margin-top: 10vh;
}

.dashboard-container{
    
    height: 100vh;
    padding-left: 30px;
}

.sub-container{
    padding-top: 20px;
}

.heading-name{
    font-size: 40px;
    font-weight: bold;
    font-family: "Roboto";
}

.admin-panel-main-container{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.admin-panel-sub-container{
    width: 40%;
    height: 30%;
    box-shadow: 2px 2px 6px grey;
    border-radius: 20px;
}

.admin-dasboard-image{
    height: 100%;
    width: 100%;
}

.admin-panel-text-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.admin-panel-welcome-text{
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto";
}



@media screen and (max-width: 768px){
    .admin-panel-sub-container{
        width: 80%;
        height: 30%;
    }
    .admin-panel-welcome-text{
        font-size: 25px;
    }
}