* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar stays on top of other elements */
}

.navbar .logo {
    color: #fff;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row; /* Default to row for larger screens */
    justify-content: center;
}

.navbar-items {
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

li {
    position: relative;
    display: inline-block;
}

li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    bottom: -3px; 
    left: 0;
    background-color: #fff; 
    transition: width 0.3s ease-in-out;
}

li:hover::after {
    width: 100%;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

.profile-icon{
    color: #fff;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column; /* Change to column for smaller screens */
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-links.nav-active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .burger {
        display: block;
    }
}
